.fadinRight-enter {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.fadinRight-enter.fadinRight-enter-active {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;;

}

.fadinRight-leave {
    opacity: 1;
}

.fadinRight-leave.fadinRight-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.fadeIn-enter {
    opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}